langchain
langchain-core 
langchain-community
pypdf
pymupdf
fastapi
uvicorn
python-multipart
pydantic
sentence-transformers
chromadb
react 
react-dom
fetch API
langchain-text-splitters
chromadb
numpy
langchain-google-genai
python-dotenv
google-generativeai
npm install;
